/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.hb_container h2,
.hb_container h3,
.hb_container p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

 :root {

    /* FONTS */
    --primary-font: 'lexend';

    /* COLORS */
    --light-grey: #f1f1f6;
    --medium-grey: #e6e6eb;
    --blue: #0079ff;
    --light-red: #c65049;

}

@font-face {
    font-family: 'lexend';
    src: url('../fonts/lexend/Lexend-Regular.ttf');
}

.plugin-container {
    font-family: var(--primary-font);
    box-sizing: border-box;
}

.plugin-container-row {
    margin: 20px;
}

.hb_container {
    font-family: var(--primary-font);
    width: 100%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}